/* start rules */
:root {
  
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif
}

a {
    text-decoration: none
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

body {
    background: var(--background-color);
    transform: translateY(50px);
    opacity: .5;
    transition: .700s;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth
}

/* end Global Rules */


.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* start componanet */

/* end componanet */

/* Tablets (≥ 768px) */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Small laptops (≥ 992px) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Desktops (≥ 1200px)*/
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Large screens (≥ 1400px) */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
